.education {
  padding: 0 20px;
  margin-top: 50px;
}
.education__title {
  font: 400 28px var(--fontTitle);
  color: var(--textTitle);
  text-align: center;
}
.container__formation {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .education {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .education {
    padding: 0 100px;
  }
  .education__title {
    font: 400 34px var(--fontTitle);
  }
}
@media only screen and (min-width: 1024px) {
  .education {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education__title {
    font: 400 34px var(--fontTitle);
  }
}
