.progrma {
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
}
.formation__iconMore {
  svg {
    width: 20px;
    height: 20px;
    color: var(--iconMore);
  }
}
.formation__name {
  font: 400 16px var(--fontNormal);
  color: var(--textNormal);
}
.formation__date {
  display: none;
}
.formaciones {
  margin: 10px 0 20px 30px;
}
.formaciones__container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.formaciones__name {
  font: 400 14px var(--fontNormal);
  color: var(--textFormation);
}
.link__btn {
  width: max-content;
}
.btn__cert {
  width: 100px;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: var(--btnFormation);
  color: var(--textNormal);
  font: 400 12px var(--fontNormal);
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .formation__date {
    display: inline;
    color: #56647b;
  }
}
@media only screen and (min-width: 1024px) {
  .formation__date {
    display: inline;
    color: #56647b;
  }
  .formation__name {
    font: 400 20px var(--fontNormal);
  }
  .formation__iconMore:hover {
    svg {
      color: var(--btnDownload);
    }
    cursor: pointer;
  }
  .formaciones__name {
    font: 400 16px var(--fontNormal);
  }
  .btn__cert {
    font: 400 13px var(--fontNormal);
  }
}
