*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa Variable", sans-serif;
}

.container-main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Background effect radial gradient */
.bg-effect {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #0a0a0a;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(132, 94, 247, 0.25), rgba(0, 0, 0, 0));
}

.hero {
  width: 100%;
  height: 100vh;
}
.hero__container-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__container-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}
.hero__container-icon--sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.hero__icon {
  width: 24px;
  height: 24px;
  fill: #94a3b8;
}

.hero__header {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .hero__header {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__header {
    padding: 0 176px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__header {
    padding: 0 208px;
  }
}

.hero__container-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

/* From Uiverse.io by JulanDeAlb */
.hero__label-menu {
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .hero__label-menu {
    display: none;
  }
}

input {
  display: none;
}

.hero__label-menu .hero__svg-icon {
  /* The size of the SVG defines the overall size */
  height: 2em;
  /* Define the transition for transforming the SVG */
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__path-icon {
  fill: none;
  stroke: #f1f9f9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 800ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

input:checked + .hero__label-menu .hero__svg-icon {
  transform: rotate(-45deg);
}

input:checked + .hero__label-menu .hero__svg-icon .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* .menu {
  display: none;
  opacity: 0;
  transition: display 800ms ease-in-out, opacity 800ms ease-in-out;
  transition-behavior: allow-discrete;
}
.animate {
  opacity: 1;
  display: flex;
  @starting-style {
    opacity: 0;
  }
} */
.menu {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.animate {
  opacity: 1;
  transform: translateX(0);
}

.hero__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0a0a0a, #845ef7);
  z-index: 90;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.hero__sidebar--animate {
  transform: translateX(0);
  opacity: 1;
}

.logo {
  font: 1.5rem "Dancing Script Variable", cursive;
  color: #f5f3ff;
  text-decoration: none;
  letter-spacing: 0.3em;
  z-index: 100;
}

.navbar {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: block;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar__item {
  list-style: none;
}
.navbar__link {
  text-decoration: none;
  cursor: pointer;
  color: #d1d5db;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
}
.navbar__link:hover {
  color: #f5f3ff;
  transform: scale(1.05);
}

.nav-sidebar {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .nav-sidebar {
    display: none;
  }
}
.nav-sidebar__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.nav-sidebar__item {
  list-style: none;
}
.nav-sidebar__link {
  text-decoration: none;
  cursor: pointer;
  color: #d1d5db;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
}
.nav-sidebar__link:hover {
  color: #f5f3ff;
  transform: scale(1.05);
}

.hero__content-container {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .hero__content-container {
    padding: 0 40px;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .hero__content-container {
    padding: 0 176px;
    flex-direction: row;
    gap: 0px;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero__content-container {
    padding: 0 208px;
  }
}

.hero__container-presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero__container-avatar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}

.hero__avatar {
  width: 60px;
  height: 60px;
  background-color: #94a3b8;
  border-radius: 50px;
}

.hero__container-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}

.badge {
  display: inline-flex;
  width: 100%;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: #1e1b4b solid 1px;
  background-image: linear-gradient(110deg, #0a0a0a, 45%, #1e1b4b, 55%, #0a0a0a);
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #a78bfa;
  animation: bg-shine 3s linear infinite;
  background-size: 200% 100%;
  transition: all ease-in-out 0.3s;
}
.badge a {
  text-decoration: none;
  color: #a78bfa;
}
.badge:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .badge {
    width: 220px;
  }
}

@keyframes bg-shine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 100%;
  }
}
.hero__title {
  font-size: 1.5rem;
  color: #f5f3ff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 2.5rem;
  }
}

.hero__subtitle {
  font-size: 1rem;
  color: #d1d5db;
}

.hero__button-cv {
  text-decoration: none;
  padding: 10px;
  background-color: #845ef7;
  border-radius: 10px;
  color: #e1dbf5;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hero__button-cv:hover {
  background-color: #6c4ed4;
}
@media screen and (min-width: 768px) {
  .hero__button-cv {
    width: 220px;
    padding: 10px 0;
  }
}

.hero__icon-download {
  width: 20px;
  height: 20px;
}

.hero__container-img {
  width: 100%;
  height: 250px;
  border: red solid;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__container-img {
    width: 50%;
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero__icons-stack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: blue solid;
}

.hero__stack-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}
.hero__stack-icon:first-child {
  bottom: 20%;
  left: 0;
  animation: fadeIn 0.5s ease-out forwards, float 2s ease-in-out infinite alternate;
}
.hero__stack-icon:nth-child(2) {
  bottom: 20px;
  left: 25%;
  transform: translateX(-50%);
  animation: fadeIn 0.5s ease-out 0.7s forwards, float 2s ease-in-out 0.5s infinite alternate;
  animation-delay: 0.7s;
}
.hero__stack-icon:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 0.5s ease-out 1.3s forwards, float 2s ease-in-out 1.3s infinite alternate;
  animation-delay: 1.3s;
}
.hero__stack-icon:nth-child(4) {
  bottom: 20px;
  right: 25%;
  transform: translateX(50%);
  animation: fadeIn 0.5s ease-out 1s forwards, float 2s ease-in-out 1s infinite alternate;
  animation-delay: 0.5s;
}
.hero__stack-icon:last-child {
  bottom: 20%;
  right: 0;
  animation: fadeIn 0.5s ease-out 0.3s forwards, float 2s ease-in-out 0.3s infinite alternate;
  animation-delay: 1s;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.project {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1024px) {
  .project {
    padding: 50px 176px;
  }
}
@media screen and (min-width: 1440px) {
  .project {
    padding: 0 208px;
  }
}
.project__title {
  margin-top: 20px;
  color: #f5f3ff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.project__title-icon {
  width: 24px;
  height: 24px;
}
.project__container-card {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project__container-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0;
  transform: translateX(-100px);
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
@keyframes show {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 300px;
  }
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}
.card:hover::before {
  opacity: 1;
}
.card:hover .card__container-info--show {
  transform: translateY(-150px);
  background-image: linear-gradient(45deg, rgba(132, 94, 240, 0.7), rgb(0, 0, 0));
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__container-info {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgba(132, 94, 240, 0.7), rgba(0, 0, 0, 0.5));
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(-70px);
  transition: all 0.5s ease-in-out;
}
.card__container-title {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__title {
  font-size: 1rem;
  color: #f5f3ff;
}
.card__description {
  font-size: 0.75rem;
  color: #d1d5db;
}
.card__nota {
  font-size: 0.6rem;
  color: rgb(240, 183, 61);
}
.card__container-buttons {
  display: flex;
  gap: 20px;
}
.card__link {
  text-decoration: none;
  font-size: 0.8rem;
  width: 100px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__link--demo {
  color: #e1dbf5;
  background-color: #845ef7;
}
.card__link--demo:hover {
  background-color: #6c4ed4;
}
.card__link--more {
  color: #e5e7eb;
  background-color: #1f2937;
}
.card__link--more:hover {
  background-color: #374151;
}

.tools {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .tools {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1024px) {
  .tools {
    padding: 0 176px;
  }
}
@media screen and (min-width: 1440px) {
  .tools {
    padding: 0 208px;
  }
}
.tools__container-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tools__title {
  font-size: 1.5rem;
  color: #f5f3ff;
}
.tools__description {
  color: #d1d5db;
  font-size: 0.75rem;
}
@media screen and (min-width: 1024px) {
  .tools__description {
    font-size: 1rem;
  }
}
.tools__text {
  margin-top: 50px;
  color: #d1d5db;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
}
.tools__slider {
  overflow: hidden;
  white-space: nowrap;
}
.tools .tools__slider-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider__logo {
  width: 50px;
  height: 50%;
  flex-shrink: 0;
}

.tools__slider {
  width: 70%;
  margin: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}
.tools__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #0a0a0a, transparent);
}
.tools__slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, #0a0a0a, transparent);
}

.tools__slide-track {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  padding: 3rem 0;
  height: auto;
  width: 135rem;
  align-items: center;
  justify-content: flex-end;
  animation: scroll 20s linear infinite;
  box-sizing: border-box;
}

.tools__slide-track:has(> .tools__slide:hover) {
  animation-play-state: paused;
}

.tools__slide {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.tools__slide:hover {
  background: linear-gradient(45deg, rgba(132, 94, 240, 0.7), rgba(0, 0, 0, 0.5));
  transform: scale(1.1) rotate(10deg);
}

.tools__slide img {
  object-fit: contain;
  width: 5rem;
  border-radius: 10px;
}

.tools__slide .tools__tag {
  position: absolute;
  background: #222831;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  font-size: 12px;
  font-family: sans-serif;
}

.tools__slide:hover .tools__tag {
  transform: translateY(-4.2rem);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-67.5rem);
  }
}
.slider-tools {
  width: 70%;
  margin: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}
.slider-tools::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #0a0a0a, transparent);
}
.slider-tools::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, #0a0a0a, transparent);
}

.slider-tools__slide-track {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  padding: 3rem 0;
  height: auto;
  width: 135rem;
  align-items: center;
  justify-content: flex-end;
  animation: scroll 20s linear infinite;
  animation-direction: reverse;
  box-sizing: border-box;
}

.slider-tools__slide-track:has(> .slider-tools__slide:hover) {
  animation-play-state: paused;
}

.slider-tools__slide {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.slider-tools__slide:hover {
  background: linear-gradient(45deg, rgba(132, 94, 240, 0.7), rgba(0, 0, 0, 0.5));
  transform: scale(1.1) rotate(10deg);
}

.slider-tools__slide img {
  object-fit: contain;
  width: 5rem;
  border-radius: 10px;
}

.slider-tools__slide .slider-tools__tag {
  position: absolute;
  background: #222831;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  font-size: 12px;
  font-family: sans-serif;
}

.slider-tools__slide:hover .slider-tools__tag {
  transform: translateY(-4.2rem);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-67.5rem);
  }
}
.about {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__container-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 50px 40px;
  }
  .about__container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    padding: 50px 176px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 50px 208px;
  }
}
.about__title {
  font-size: 1.5rem;
  color: #f5f3ff;
  display: flex;
  gap: 20px;
}
.about__title-icon {
  width: 24px;
  height: 24px;
}
.about__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__content {
  font-size: 1rem;
  color: #d1d5db;
}
.about__container-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  position: relative;
}
.about__container-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5));
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .about__img {
    object-fit: contain;
  }
}

/*# sourceMappingURL=main.css.map */
