---
import Layout from "../Layout/Layout.astro";
import { Hero, Projects } from "../Components";
---

<Layout>
  <main class="container-main">
    <div class="bg-effect"></div>
    <Hero />
    <Projects />
  </main>
</Layout>
