---
import Layout from "../Layout/Layout.astro";
import { Hero, Projects, Skills, AboutMe, Footer } from "../Components";
---

<Layout>
  <main class="container-main">
    <div class="bg-effect"></div>
    <Hero />
    <Projects />
    <Skills />
    <AboutMe />
    <Footer />
  </main>
</Layout>
