---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import DownloadIcon from "../Icons/Download.astro";
import MailIcon from "../Icons/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BracketIcon from "../Icons/Brackets.astro";
import CardProjects from "../components/CardProjects.astro";
import UserIcon from "../Icons/User.astro";
---

<Layout>
  <main class='border-2 border-red-600 w-full px-5 md:px-30 lg:px-60'>
    <SectionContainer>
      <div class='flex gap-2.5 items-center'>
        <img
          class='size-12 rounded-full object-cover lg:size-14'
          src='./src/assets/Foto.svg'
          alt='Foto Oscar'
        />
        <Badge>Disponible para Trabajo</Badge>
      </div>
      <h1
        class='xs:text-2xl font-body font-extrabold text-text mt-10 md:text-4xl lg:text-5xl text-balance'
      >
        Hola, Soy Oscar <span class='text-text-accent'>Hernández</span>
      </h1>
      <p class='mt-5 text-text font-body text-pretty opacity-85 lg:text-lg'>
        Desarrollador Web Front End Jr con fuertes habilidades en
        <span class='text-orange-600'>HTML</span>, <span class='text-sky-600'
          >CSS</span
        > y <span class='text-yellow-400'>JavaScript</span>
        Comprmetido con la creacion de sitios y aplicaciones web modernas.
      </p>
      <div
        class='xs:flex flex-col gap-2.5 mt-5
      md:flex-row justify-between md:gap-10'
      >
        <Button
          class='flex justify-center items-center gap-2.5 w-full h-10 px-3 py-1 rounded-full text-text font-body animate-pulse bg-btn-primary'
          href='/'
          '><MailIcon class='size-5' /> Contáctame</Button
        >
        <Button
          class='flex justify-center items-center gap-2.5 w-full h-10 px-3 py-1 rounded-full text-text font-body bg-btn-secondary'
          href='/'
          download='Oscar Hernández'
          ><DownloadIcon class='size-5' /> Descargar CV</Button
        >
      </div>
    </SectionContainer>
    <!-- Seccion de proyectos -->
    <SectionContainer class='mt-20 lg:w-[600px] xl:w-[800px]'>
      <h2
        class='text-lg font-body font-bold text-text flex gap-2.5 items-center lg:text-2xl lg:items-center'
      >
        <BracketIcon class='size-5' /> Proyectos
      </h2>
      <!-- Aqui se muestran las cards de los proyectos -->
      <div class='flex flex-col gap-10 mt-10'>
        <CardProjects />
      </div>
    </SectionContainer>
    <SectionContainer class='lg:w-[600px] xl:w-[800px]'>
      <h3 class='text-xl font-body font-bold text-text flex gap-3 items-center'>
        <UserIcon class='size-5' /> Sobre mí
      </h3>
      <div
        class='flex flex-col-reverse gap-5 mt-5 md:flex-row items-center lg:justify-between'
      >
        <div class='w-full flex flex-col gap-2.5 md:w-[60%] xl:w-[70%]'>
          <p class='text-md text-text font-body text-pretty xl:text-lg'>
            Hola, me llamo <span class='text-indigo-500'>Oscar Hernández</span>.
            Fue en la Preparatoria cuando realice <span class='text-orange-300'
              >mi primera página web</span
            > aún sin yo saberlo, totalmente estática y sin una pizca de UI/UX o
            coherencia entre colores.
          </p>
          <p class='text-md text-text font-body text-pretty xl:text-lg'>
            Hoy en día me desempeño como <span class='text-indigo-500'
              >Desarrollador Web Front-end Jr</span
            >. Con conocimientos en <span class='text-neutral-500'
              >HTML, CSS y JavaScript</span
            >. Desarrollando sitios web como práctica de <span
              class='text-orange-300'
              >aprendizaje y crecimiento profesional</span
            >.
          </p>
        </div>
        <div class='w-full opacity-70 md:w-max'>
          <img
            class='w-full h-48 rounded-lg rotate-3 md:w-[220px] md:h-full'
            src='./src/assets/Foto.svg'
            alt='Foto Oscar'
          />
        </div>
      </div>
    </SectionContainer>
  </main>
</Layout>
