---
import { UserIcon } from "../assets/icons";
---

<section class="about">
  <h2 class="about__title"><UserIcon /> Sobre mi</h2>
  <div class="about__container-info">
    <div class="about__info">
      <p class="about__content">
        Hola, me llamo Oscar Hernández. Fue en la Preparatoria cuando realice mi
        primera página web aún sin yo saberlo, totalmente estática y sin una
        pizca de UI/UX o coherencia entre colores.
      </p>
      <p class="about__content">
        Hoy en día me desempeño como Desarrollador Web Front-end Jr. Con
        conocimientos en HTML, CSS y JavaScript. Desarrollando sitios web como
        práctica de aprendizaje y crecimiento profesional.
      </p>
    </div>
    <div class="about__container-img">
      <img src="/foto.svg" alt="Foto de Oscar" class="about__img" />
    </div>
  </div>
</section>
