---
import { LinkedinIcon, EmailIcon, WhatsappIcon } from "../assets/icons";
---

<footer class="footer">
  <span class="footer__rights">© Todos los derechos reservados</span>
  <hr class="footer__divider" />
  <div class="footer__container-icons">
    <h3 class="footer__title">Contacto</h3>
    <ul class="footer__list">
      <li class="footer__item">
        <a
          href="https://www.linkedin.com/in/devoscardev/"
          target="_blank"
          class="footer__link"
        >
          <LinkedinIcon /> Linkedin</a
        >
      </li>
      <li class="footer__item">
        <a href="mailto:ohdz202@gmail.com" class="footer__link">
          <EmailIcon /> Email</a
        >
      </li>
      <li class="footer__item">
        <a
          href="https://wa.me/+525578449821"
          target="_blank"
          class="footer__link"
        >
          <WhatsappIcon /> Whatsapp</a
        >
      </li>
    </ul>
  </div>
</footer>
