<nav class="xs:hidden md:flex gap-5 justify-between items-center text-md text-white">
    <a
        href="#"
        class="hover:scale-110 transition duration-500 ease-in-out hover:text-hover"
        >Sobre mí</a
    >
    <a
        href="#"
        class="hover:scale-110 transition duration-500 ease-in-out hover:text-hover"
        >Proyectos</a
    >
    <a
        href="#"
        class="hover:scale-110 transition duration-500 ease-in-out hover:text-hover"
        >Contacto</a
    >
</nav>
