<input type='checkbox' name='icon' id='icon' />
<label class='label__container md:hidden' for='icon' id='menu'>
  <svg viewBox='0 0 32 32'>
    <path
      class='line line-top-bottom'
      d='M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22'
    ></path>
    <path class='line' d='M7 16 27 16'></path>
  </svg>
</label>
<nav
  class='menu xs: w-[280px] absolute top-18 left-1/2 -translate-x-1/2 flex flex-col gap-5 justify-center items-center font-body text-text backdrop-blur-lg z-10 rounded-lg px-2.5 py-5'
  id='drop'
>
  <a href='#projects'>Proyectos</a>
  <a href='#about'>Sobre mí</a>
  <a href='#contact'>Contacto</a>
</nav>

<style>
  /* From Uiverse.io by JulanDeAlb */
  .label__container {
    cursor: pointer;
  }

  input {
    display: none;
  }

  .label__container svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    /* Define the transition for transforming the SVG */
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: #f1f9f9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
      stroke-dasharray 800ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 800ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  input:checked + .label__container svg {
    transform: rotate(-45deg);
  }

  input:checked + .label__container svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  .menu {
    display: none;
    opacity: 0;
    transition:
      display 800ms ease-in-out,
      opacity 800ms ease-in-out;
    transition-behavior: allow-discrete;
  }
  .animate {
    opacity: 1;
    display: flex;
    @starting-style {
      opacity: 0;
    }
  }
</style>
<script>
  const menu = document.getElementById("menu");
  const drop = document.getElementById("drop");
  menu?.addEventListener("click", () => {
    drop?.classList.toggle("animate");
  });
</script>
