---
import { BracketIcon } from "../assets/icons";
import { Card } from "./index";
import { getCollection } from "astro:content";

const projects = await getCollection("proyectos");
---

<section class="project" id="proyectos">
  <h2 class="project__title"><BracketIcon /> Proyectos</h2>
  <div class="project__container-card">
    {projects.map((project) => <Card project={project} />)}
  </div>
</section>
