.otroProyecto {
  border-top-right-radius: 10px;
  background: linear-gradient(
    90deg,
    var(--bgOtherProject1) 50%,
    var(--bgOtherProject2)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  width: 100%;
}
.parentContainer {
  width: 100%;
}
.otroProyecto__iconDropDown {
  svg {
    width: 25px;
    height: 25px;
    color: var(--iconOtherProject);
  }
}
.otroProyecto__name {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  align-items: center;
}
.iconFolder {
  svg {
    width: 20px;
    color: var(--iconFolder);
    height: 20px;
    color: var(--iconFolder);
  }
}
.nameProject {
  font: 400 14px var(--fontNormal);
  color: var(--textNormal);
}
.moreDescription {
  padding: 5px 10px;
  background: linear-gradient(
    90deg,
    var(--bgOtherProject1) 50%,
    var(--bgOtherProject2)
  );
  border-bottom-right-radius: 10px;
}
.moreDescription__links {
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
}
.moreDescription__icons {
  svg {
    width: 20px;
    height: 20px;
    color: var(--iconOtherProject);
  }
}
.moreDescription__description {
  margin-top: 10px;
  text-align: justify;
  font: 400 14px var(--fontNormal);
  color: var(--textNormal);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .parentContainer {
    width: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .parentContainer {
    width: 300px;
  }
  .otroProyecto__iconDropDown:hover {
    cursor: pointer;
    svg {
      color: var(--btnDownload);
    }
  }
}
