.other {
  margin-top: 50px;
}
.other__title {
  font: 400 20px var(--fontSubtitle);
  color: var(--textSubtitle);
  text-align: center;
}
.other__container {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .other__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .other__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .other__title {
    font: 400 24px var(--fontSubtitle);
  }
}
