@use "../theme/variables";

.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    padding: 50px 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    padding: 50px 176px;
  }

  @media screen and (min-width: 1440px) {
    padding: 50px 208px;
  }
  &__rights {
    color: variables.$text-title;
  }

  &__divider {
    border-color: variables.$icons;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__container-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    color: variables.$text-normal;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: variables.$icons;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: variables.$text-title;
    }
  }
}
