.dropdown {
  width: 100%;
  height: 50px;
  background-color: var(--bgNavbar);
  display: flex;
  align-items: center;
}
.dropdown__icon {
  svg {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    color: var(--iconDropDown);
  }
}
.menu__dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  background-color: var(--bgNavbar);
  justify-content: space-evenly;
  a {
    color: var(--textNormal);
    font: 400 16px var(--fontNormal);
    margin-left: 20px;
  }
  hr {
    width: 280px;
  }
}
